body {
	background-color: #5d5d5d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fdfdfd;

}
h1 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}

circle:hover {
	fill: #a8de78;
}

.map {
	width: 100%;
	height: auto;
	margin-left: 25%;
	display: inline-block;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
}
#chart.svg {
	width: 100%;
	height: auto;
	background-color: #5d5d5d;
}

#navlist a {
	color: #fdfdfd;
	text-decoration: none;
}

#navlist a:hover {
	color: #a8de78;
	text-decoration: none;
}

#navlist {
	text-align: center;
	list-style-type: none;
	overflow: hidden;
	background-color: #262626;
}

#navlist li {
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	display: inline;
}

#navlist a {
	color: #fdfdfd;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 36px;
}

.navbar {
	width: auto;
	background-color: #262626;
	border-color: #080808;
	display: inline-block;
	width: 100%;
};


.row {
  display: flex;
  flex: 50%;

}

.column {
  width: 40%;
	float: left;
	padding: 3%;
}

.column img {
	transition: ease-in-out 0.2s;
}

.column img:hover {
	transform: scale(1.1);
	
}

#pageContainer {
	width: 100%;
	margin: 0 auto;
}

p {
	text-indent: 5%;
	font-size: large;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.column img {
	width: 50%;
	height: auto;
	margin-left: 40%;
	margin-bottom: 15px;
	border-radius: 5%;

	filter: brightness(70%);
	filter: contrast(70%);
	filter: drop-shadow(10px 10px 10px black);
}

#selected {
	color: #a8de78;
}

.gallery {
	margin: 20 auto;
	width: 95%;
}

.galleryElement {
	width: 20%;
	height: 300px;
	float: left;
	margin-right: 30;
	margin-bottom: 50;
	padding: 10;
	background-color: #a9a9a9;
	border-radius: 5px;
	text-align: center;
	font-size: large;
}

.galleryElement:hover {
	color: #000000;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.galleryElement img {
	width: 100%;
	height: auto;
	margin-left: 5px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.chart {
	height: auto;
	margin-left: 25%;
	display: inline-block;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
  }

.bar-label {
	font-size: 19px;
	text-anchor: end;
	fill: white;
}

.legend {
	width: auto;
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.legend-item {
	margin-right: 10px;
	cursor: pointer;
	opacity: 0.8;
	color: #fff;
}
.legend-item:hover {
	opacity: 1.0;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	display: block;
}

path {
	stroke: #000000;
	stroke-width: 1.5;
	transition: all .2s ease-in-out;
}


path:hover {
	fill: #a9a9a9;
	cursor:pointer;
}

#state-borders {
	fill: white;
	stroke: #000000;
	stroke-width: 10.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

input[type-checkbox] {
	padding: 10px;
	margin: 10px,0;
}
